server {
        root /var/www/{{ domain_name }};
        index index.php index.html index.htm index.nginx-debian.html;

        server_name {{ domain_name }} www.{{ domain_name }};

        location / {
        try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }

        listen 443 ssl; # managed by Certbot
        ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem; # managed by Certbot
        ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem; # managed by Certbot
        include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

        }

server {
        if ($host = {{ domain_name }}) {
        return 301 https://$host$request_uri;
       } # managed by Certbot


       listen 80;
       server_name {{ domain_name }};
       return 404; # managed by Certbot

      }
